<div class="login">
  <form #form="ngForm" class="form" autocomplete="off" action="#" (ngSubmit)="Login(form)">
    <div class="dragon-eye"></div>
    <h1 *ngIf="!messages.length">Qual seu nome, ó nobre mestre?</h1>
    <h2 *ngFor="let message of messages">{{message}}</h2>

    <label for="username">
      <input ngModel class="input" type="text" name="username" placeholder="Usuário"
        autocomplete="off">
    </label>

    <label for="password" *ngFor="let n of sortInts">
      <input ngModel type="checkbox" [name]="'rune_'.concat(n)" data-value="{{n}}" value="{{n}}">
    </label>

    <button class="button" type="submit">Acessar</button>

    <p>Para informações adicionais consulte o <a href="https://github.com/jmurowaniecki/sicredi-librum-ex-dracones" target="_blank">repositório</a> deste projeto.</p>
  </form>
</div>
