<div
*ngIf="Dragon"
  class="inside-stage"
  [style]="!Dragon.landscape ? '' : 'background-image: url('.concat(Dragon.landscape, ')')">

  <div class="dragon"
    [style]="!Dragon.imageUrl ? '' : 'background-image: url('.concat(Dragon.imageUrl, '); background-position: ', Dragon.position)">
  </div>

  <a class="scroll" (click)="sounds.preLoaded.action[0].play()">
    <div class="stats">
      <span>{{ Dragon.quote }}</span><br/>
      <span>{{ Dragon.type }}</span>
      <p class="name">{{ Dragon.name }}</p>
    </div>
  </a>
</div>
