<div
*ngIf="Dragon"
  class="inside-stage"
  [style]="!Dragon.landscape ? '' : 'background-image: url('.concat(Dragon.landscape, ')')">

  <div class="dragon"
    [style]="!Dragon.imageUrl ? '' : 'background-image: url('.concat(Dragon.imageUrl, '); background-position: ', Dragon.position)">
  </div>

  <a class="scroll" (click)="sounds.preLoaded.action[0].play()">
    <div class="stats">
      <span>{{ Dragon.quote }}</span><br/>
      <span>{{ Dragon.type }}</span>
      <span>{{ Dragon.createdAt | date: "d' de 'MMMM' de 'y" }}</span>
      <p class="name">{{ Dragon.name }}</p>
    </div>
  </a>

  <div class="history">
    <p *ngFor="let history of Dragon.histories">{{ history }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quod, voluptate temporibus, modi quam debitis culpa reiciendis perferendis minus error quis laudantium ullam repellat accusamus quasi quibusdam aut, cum vel.</p>
  </div>
</div>
