<div class="admin">
  <form class="form" autocomplete="off" #summonDragon="ngForm">
    <div class="dragon-eye"></div>

    <h1>Novo dragão.</h1>

    <input type="hidden" [(ngModel)]="Dragon.id" name="id" #id="ngModel">

    <label for="name">
      <input class="input" type="text" [(ngModel)]="Dragon.name" name="name" #name="ngModel" placeholder="Nome do dragão" autocomplete="off" required>
    </label>

    <label for="quote">
      <input class="input" type="text" [(ngModel)]="Dragon.quote" name="quote" #quote="ngModel" placeholder="Frase de impacto" autocomplete="off">
    </label>

    <label for="type">
      <select class="input" type="text" [(ngModel)]="Dragon.type" name="type" #type="ngModel" autocomplete="off" required>
        <option *ngIf="Dragon.type === ''" value="">Tipo de dragão</option>
        <option
          *ngFor="let type of DragonTypes"
          [ngValue]="type.value"
          >{{ type.label }}</option>
      </select>
    </label>

    <span class="small">

    </span>

    <span class="small">
      <button class="button" (click)="this.invoqueChanges('Post', summonDragon.value)">Salvar</button>
      <button class="button" [routerLink]="['/admin']">Cancelar</button>
      <button *ngIf="!isNew" class="button" (click)="this.invoqueChanges('Delete', Dragon)">Deletar</button>
    </span>
  </form>
</div>
