<div class="login">
  <form class="form" autocomplete="off">
    <div class="dragon-eye"></div>

    <h1>Para acessar o sistema é necessário realizar login na plataforma.</h1>

    <label for="username">
      <input class="input" type="text" name="username" placeholder="Usuário" autocomplete="off">
    </label>
    <label for="password">
      <input class="input" type="password" name="password" placeholder="Senha" autocomplete="off">
    </label>

    <button class="button" routerLink="/dragons">Acessar</button>

    <p>Para informações adicionais consulte o <a href="https://github.com/jmurowaniecki/sicredi-librum-ex-dracones" target="_blank">repositório</a> deste projeto.</p>
  </form>
</div>
