<div class="login">
  <form class="form" autocomplete="off">
    <div class="dragon-eye"></div>

    <h1>Qual seu nome, ó nobre mestre?</h1>

    <label for="username">
      <input class="input" type="text" name="username" placeholder="Usuário" autocomplete="off" #username (blur)="Login(username.value)">
    </label>

    <button class="button" routerLink="/dragons">Acessar</button>

    <p>Para informações adicionais consulte o <a href="https://github.com/jmurowaniecki/sicredi-librum-ex-dracones" target="_blank">repositório</a> deste projeto.</p>
  </form>
</div>
