<div class="container">

  <div class="scrollable">
    <button
      *ngFor="let dragon of Dragons"
      (click)="sounds.preLoaded.action[0].play()"
      [routerLink]="['/dragon', dragon.id]"
      class="button round dragon-face">
      <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
    </button>
  </div>

  <span class="stretch"></span>

  <button
    (click)="sounds.preLoaded.action[1].play()"
    class="button round dragon-face" [routerLink]="['/admin']">
    <img src="/assets/image/dragoneye.png" title="More Dragons" alt="Open modal of Dragons!">
  </button>

  <button
    (click)="sounds.preLoaded.action[2].play()"
    class="button round dragon-face" [routerLink]="['/logout']">
    Sair
  </button>
</div>
