<div class="container">

  <div class="scrollable">
    <button *ngFor="let dragon of Dragons.list"
      [routerLink]="['/dragon', dragon.id]"
      [class]="'button round dragon-face '.concat(dragon.selected ? 'selected' : '')">
      <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
    </button>
  </div>

  <span class="stretch"></span>

  <button class="button round dragon-face" routerLink="/dragons/admin">
    <img src="/assets/image/dragoneye.png" title="More Dragons" alt="Open modal of Dragons!">
  </button>

  <button class="button round dragon-face" routerLink="/logout">
    Sair
  </button>
</div>
