<div class="admin">
  <form class="form" autocomplete="off">
    <div class="dragon-eye"></div>

    <h1>Novo dragão.</h1>

    <label for="name">
      <input class="input" type="text" name="name" placeholder="Nome do dragão" autocomplete="off">
    </label>

    <label for="type">
      <input class="input" type="text" name="type" placeholder="Tipo" autocomplete="off">
    </label>

    <label for="description">
      <input class="input" type="text" name="description" placeholder="Descrição breve" autocomplete="off">
    </label>

    <span class="small">
      <label for="birth">
        <input class="input" type="text" name="birth" placeholder="Nascimento" autocomplete="off">
      </label>

      <label for="death">
        <input class="input" type="text" name="death" placeholder="Morte" autocomplete="off">
      </label>
    </span>

    <button class="button" routerLink="/dragons">Salvar</button>
  </form>
</div>
