<div class="admin">
  <form class="form" autocomplete="off">
    <div class="dragon-eye"></div>

    <h1>Seus dragões, {{user}}</h1>

    <span class="scrollable">
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
      <button *ngFor="let dragon of Dragons.list" [routerLink]="['/dragon/edit', dragon.id]"
        class="button round dragon-face">
        <img src="{{ dragon.avatar }}" title="{{ dragon.name }}" alt="{{ dragon.name }}">
      </button>
    </span>


    <button class="button" routerLink="/dragons/new">Adicionar dragão</button>
  </form>
</div>
